@using Exam_Objective.Models
@using System.Collections.Generic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="paddind-lr-30">
    <h3>เลือกวิชาที่จะจัดการแบบทดสอบ</h3>
    <hr />
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>วิชาทั้งหมด</th>
            </tr>
        </thead>
        <tbody>
            @{var SubjectsEntity = (List<SubjectsModel>)ViewBag.Subject;
        if (SubjectsEntity.Count > 0)
        {
            foreach (var rows in SubjectsEntity)
            {
                <tr>
                    <td>
                        <span class="fa fa-book"> </span>
                        <a href="@Url.Action("CreateTest", "Testing", new { etid = rows.SubjectID })" title="คลิ๊กเพื่อเข้าสร้างแบบทดสอบ"><span>วิชา</span>@rows.SubjectName</a>
                    </td>
                </tr>

    }
}
else
{
        <tr><td><span style="color:#ff0000">*ยังไม่มีวิชาให้เลือกต้องสร้างรายวิชาก่อน</span></td></tr> }
            }
        </tbody>
    </table>
</div>

    @section scripts{
    }
