@using Exam_Objective.Models
@using System.Collections.Generic
@{
    ViewBag.Title = "Subjects";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="paddind-lr-30">
    <h3>เลือกวิชา</h3>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>วิชาทั้งหมด</th>
            </tr>
        </thead>
        <tbody>
            @{var SubjectsEntity = (List<SubjectsModel>)ViewBag.Subject;
                if (SubjectsEntity.Count > 0)
                {
                    foreach (var rows in SubjectsEntity)
                    {
                        <tr>
                            <td>
                                <span class="fa fa-book"> </span>
                                <a href="@Url.Action("SubjectLogin", "Student", new { etid = rows.SubjectID, sid = rows.UserID })" title="คลิ๊กเพื่อ"><span>วิชา</span>@rows.SubjectName</a>
                                <span> | @rows.Fname @rows.Lname | </span>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td><span style="color:#ff0000">*ยังไม่มีวิชาในระบบ</span></td></tr>}
            }
        </tbody>
    </table>



</div>


@section scripts{
}
