
<div class="form-group">
    <label class="col-md-3 control-label">การสลับโจทย์และคำถาม</label>
    <div class="col-md-5">
        <select style="max-width:150px;" class="form-control" id="Sequences" name="Sequences">
            <option value="0">ค่าเริ่มต้น</option>
            <option value="1">สลับโจทย์</option>
            <option value="2">สลับคำตอบ</option>
            <option value="3">สลับโจทย์และคำตอบ</option>
        </select>
    </div>
</div>




