@using Exam_Objective.Models
@{
    //ViewBag.Title = "Propos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-grey margin-bottom-60">
    <div class="panel-heading"> 
        <h3><span class="fa  fa-database"> เลือกวิชาที่ต้องการสร้างข้อสอบ</span></h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            เลือกข้อสอบตามรายวิชา
        </div>
        <div class="panel-body">
            
                @{
                    var SubjectEntity = (List<SubjectsModel>)ViewBag.Subject;
                    if (SubjectEntity != null)
                    {
                        foreach (var rows in SubjectEntity)
                        {

                            
                                <a href="@Url.Action("Proposview", "ExamBank", new { SubjecID = rows.SubjectID })" class="nav-link" title="คลิ๊กเพื่อเข้าสร้างข้อสอบเก็บไว้ในคลัง">
                                    <!-- target="_blank" //สำหรับเปิดแล้วขึ้นหน้าใหม่-->
                                    <span style="padding-left:60px;" class="icon-notebook"> @rows.SubjectName </span><br />
                                </a>

                        }
                    }
                    var SubjectsShareEntity = (List<SubjectsModel>)ViewBag.SubjectShare;
                    if (SubjectsShareEntity != null)
                    {
                        foreach (var rows in SubjectsShareEntity)
                        {

                            <a href="@Url.Action("Proposview", "ExamBank", new { SubjecID = rows.SubjectID })" class="nav-link" title="คลิ๊กเพื่อเข้าสร้างข้อสอบเก็บไว้ในคลัง">
                                <!-- target="_blank" //สำหรับเปิดแล้วขึ้นหน้าใหม่-->
                                <span style="padding-left:60px;" class="icon-notebook"> @rows.SubjectName </span><br />
                            </a>


                        }
                    }
                }
          
        </div>
    </div>
</div>

@section scripts{
   
}