@{
    ViewBag.Title = "Home Page";
}

<div class="panel-heading">
    <h2><span class="fa fa-home"></span> INDEX</h2>
</div>
<!--<div class="form-group">
    <label ><p><math xmlns="http://www.w3.org/1998/Math/MathML"><msqrt><mn>2</mn></msqrt></math></p></label>

</div>-->
@section scripts{

}
