@{
    //ViewBag.Title = "Home Page";
}

<div class="panel-heading">
    <h2><span class="fa fa-home"></span> INDEX</h2>
</div>
<div class="form-group">
    <label><p><math xmlns="http://www.w3.org/1998/Math/MathML"><msqrt><mn>2</mn></msqrt></math></p></label>

</div>
@section scripts{
    <script src="~/Scripts/tinymce/plugins/tiny_mce_wiris/integration/WIRISplugins.js"></script>
    <script type="text/javascript">
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "integration/WIRISplugins.js" + "?viewer=image";
        document.getElementsByTagName('head')[0].appendChild(script);
    </script>
    <script src="~/Scripts/tinymce/plugins/tiny_mce_wiris/core/display.js"></script>
    <script src="~/Scripts/tinymce/plugins/tiny_mce_wiris/wirisplugin-generic.js"></script>
}
