
@{
    ViewBag.Title = "Lesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading">
    <h2><span class="fa  fa-tasks"></span> บทเรียน-วัตถุประสงค์</h2>
</div>

@section scripts{ }