@{
    ViewBag.Title = "TestAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestAnalysis</h2>
<center>
    <div type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Modalxlsx" style="width:100px;height:100px;
    margin-top:100px; margin-bottom:100px; cursor:pointer; background-color: #026bc3; ">File<br />.xlsx</div>
    <div type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Modaltxt" style="width:100px;height:100px;
    margin-top:100px; margin-bottom:100px; cursor:pointer; background-color: #026bc3; ">File<br />.txt</div>
    <div type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Modaltxt" style="width:100px;height:100px;
    margin-top:100px; margin-bottom:100px; cursor:pointer; background-color: #026bc3; ">File<br />.dat</div>
</center>

@*<div class="text-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Modal">xlsx</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">text</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">dat</button>
        </div>
    </div>*@
@*<p align="center">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Modal">xlsx</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">text</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">dat</button>
    </p>*@
<!-- Modal text&dat -->
<body onload="checkFileAPI();">

<div class="modal fade" id="Modaltxt" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style=" background-color:#90a6d8">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">กำหนดค่าเริ่มต้น .txt</h4>
            </div>
            <div class="modal-body">
                @*กำหนดตำแหน่งค่าเริ่มต้นก่อนทำการวิเคราะห์*@
                <div class="form-group row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="ex1">ตำเเหน่งเริ่มต้น </label>
                            <input class="form-control" id="ex1" type="text">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label for="ex2">เริ่มต้นด้วยข้อที่ </label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                        <label for="ex3">รูปแบบการวิเคราะห์ </label>
                        <input class="form-control form-control-sm" list="tech" name="techn">
                        <datalist id="tech">
                            <option value="27 %">
                            <option value="33 %">
                            <option value="50 %">
                        </datalist>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-xs-4">
                        <label for="ex2">จำนวนข้อสอบ </label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                        <label for="ex1">จำนวนตัวเลือก </label>
                        <input class="form-control form-control-sm" list="ch" name="chs">
                        <datalist id="ch">
                            <option value="2 ตัวเลือก">
                            <option value="3 ตัวเลือก">
                            <option value="4 ตัวเลือก">
                            <option value="5 ตัวเลือก">
                        </datalist>
                    </div>
                </div>
                <div class="from-group row">
                    <div class="col-xs-10">
                        <br /><label for="ex3">เลือก File .dat or .txt</label><br /><br />
                        <input class="form-control" id="File1" type="file" onchange='readText(this)' />
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="ok" onclick="location.href='@Url.Action("jsonReadFile", "Analysis")'">ตกลง</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>

    </div>
</div>
    </body>

<!-- Modal text&dat -->
<body onload="checkFileAPI();">
    <div class="modal fade" id="Modalxlsx" role="dialog">
        <div class="modal-dialog">
            dialog.setSize(BootstrapDialog.SIZE_WIDE);
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style=" background-color:#90a6d8">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">กำหนดค่าเริ่มต้น .xlsx</h4>
                </div>
                <div class="modal-body">
                    @*กำหนดตำแหน่งค่าเริ่มต้นก่อนทำการวิเคราะห์*@
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="ex1">ตำเเหน่งคอลัมน์เริ่มต้น </label>
                                <input class="form-control form-control-sm" list="col" name="cols">
                                <datalist id="col">
                                    <option value="A">
                                    <option value="B">
                                    <option value="C">
                                    <option value="D">
                                    <option value="E">
                                    <option value="F">
                                </datalist>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <label for="ex2">เริ่มต้นด้วยข้อที่ </label>
                            <input class="form-control" id="ex2" type="text">
                        </div>
                        <div class="col-xs-4">
                            <label for="ex3">รูปแบบการวิเคราะห์ </label>
                            <input class="form-control form-control-sm" list="tech" name="techn">
                            <datalist id="tech">
                                <option value="27 %">
                                <option value="33 %">
                                <option value="50 %">
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-xs-4">
                            <label for="ex1">จำนวนข้อสอบ </label>
                            <input class="form-control" id="ex2" type="text">
                        </div>
                        <div class="col-xs-4">
                            <label for="ex2">จำนวนตัวเลือก </label>
                            <input class="form-control form-control-sm" list="ch" name="chs">
                            <datalist id="ch">
                                <option value="2 ตัวเลือก">
                                <option value="3 ตัวเลือก">
                                <option value="4 ตัวเลือก">
                                <option value="5 ตัวเลือก">
                            </datalist>
                        </div>
                    </div>

                    <div >
                        <div class="from-group row">
                            <div class="col-xs-10">
                                <br /><label for="ex3">เลือก File .dat or .txt</label><br /><br />
                                <input class="form-control" id="File1" type="file" onchange='readText(this)' />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="ok"  >ตกลง</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
    </body>

    @*--------------------------------เรียกไฟล์------------------------------------------*@
    <script>
        var reader; //GLOBAL File Reader object for demo purpose only
        var output = ""; //placeholder for text output

        /**
         * Check for the various File API support.
         */
        function checkFileAPI() {
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                reader = new FileReader();
                return true;
            } else {
                alert('The File APIs are not fully supported by your browser. Fallback required.');
                return false;
            }
        }
        /**
         * read text input
         */
        function readText(filePath) {
            if (filePath.files && filePath.files[0]) {
                reader.onload = function (e) {
                    output = e.target.result;
                    displayContents(output);
                };//end onload()
                reader.readAsText(filePath.files[0]);
            }//end if html5 filelist support
            else if (ActiveXObject && filePath) { //fallback to IE 6-8 support via ActiveX
                try {
                    reader = new ActiveXObject("Scripting.FileSystemObject");
                    var file = reader.OpenTextFile(filePath, 1); //ActiveX File Object
                    output = file.ReadAll(); //text contents of file
                    file.Close(); //close file "input stream"
                    displayContents(output);
                } catch (e) {
                    if (e.number == -2146827859) {
                        alert('Unable to access local files due to browser security settings. ' +
                            'To overcome this, go to Tools->Internet Options->Security->Custom Level. ' +
                            'Find the setting for "Initialize and script ActiveX controls not marked as safe" and change it to "Enable" or "Prompt"');
                    }
                }
            }
            else { //this is where you could fallback to Java Applet, Flash or similar
                return false;
            }
            return true;
        }
        /**
         * display content using a basic HTML replacement
         */
        function displayContents(txt) {
            var el = document.getElementById('main');
            el.innerHTML = txt; //display output in DOM
        }
        //ส่งค่าไปยัง jsonReadFile
        $(function () {
            $('#ok').click(function () { //#..? id จากปุ่มที่ต้องการให้ทำงาน
                var data = { name: output }
                $.ajax({
                    url: 'jsonReadFile',  //class ใน controller
                    data: data,           //ตัวแปร json
                    dataType: "json",
                    type: 'POST',
                });
            });
        });
    </script>

    @section scripts{
    }